{% extends "base.html" %}  {% block content %}
    <h2>Connexion</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Se connecter</button>
        {% if form.errors %}
            <ul class="errorlist">
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </form>
    <a href="{% url 'password_reset' %}">Mot de passe oublié ?</a>
{% endblock %}