{% extends 'base.html' %}
{% block title %}Liste des membres{% endblock %}
{% block content %}
    <h1>Liste des membres</h1>
    <a href="{% url 'importer_membres' %}">Importer un fichier xlsx</a>
    <form id="deleteForm" method="post" action="{% url 'supprimer_membres' %}">
        {% csrf_token %}
    <table>
        <thead>
            <tr>
                <th><input type="checkbox" id="selectAll"></th> {# Checkbox pour sélectionner tout #}
                <th>Nom</th>
                <th>Prénom</th>
                <th>Licence</th>
                <th>Photo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for membre in membres %}
                <tr>
                    <td><input type="checkbox" name="selected_items" value="{{ membre.id }}"></td>
                    <td><a href="{% url 'detail_membre' membre.id %}">{{ membre.nom }}</a></td>
                    <td>{{ membre.prenom }}</td>
                    <td>{{ membre.license }}</td>
                    <td>
                        {% if membre.photo %}
                            <img src="{{ membre.photo.url }}" alt="Logo {{ membre.nom }}" width="50">
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'modifier_membre' membre.id %}">Modifier</a>
                        <a href="{% url 'supprimer_membre' membre.id %}">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
        <button type="submit">Supprimer les éléments sélectionnés</button>
    </form>
<script>
    const selectAll = document.getElementById('selectAll');
    const checkboxes = document.querySelectorAll('input[name="selected_items"]');

    if (selectAll && checkboxes) { // Vérifier si les éléments existent
        selectAll.addEventListener('change', () => {
            checkboxes.forEach(checkbox => {
                checkbox.checked = selectAll.checked;
            });
        });
    }
</script>
    <a href="{% url 'ajouter_membre' %}">Ajouter un membre</a>
{% endblock %}