{% extends 'base.html' %}
{% block title %}Modifier un sponsor{% endblock %}
{% block content %}
<h1>Modifier un sponsor</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <p>Montant de la contribution : {{ montant_contribution }} €</p>
    <h2>Emplacements disponibles :</h2>
    {% for support in supports %}
    <h3>{{ support.nom }}</h3>
    <ul>
        {% for emplacement in support.emplacements.all %}
        {% if emplacement.sponsor == None %}
        <li>
            <div class="checkbox-container">
                <input type="checkbox" name="emplacements" value="{{ emplacement.id }}">
                <label for="emplacement_{{ emplacement.id }}">{{ emplacement.support }} - Emplacement {{ emplacement.numero }} ({{ emplacement.prix }} €)</label>
            </div>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
    {% endfor %}
    {% if sponsor %} <h2>Emplacements pris par ce sponsor :</h2>
    {% for support in supports %}
    <h3>{{ support.nom }}</h3>
    <ul>
        {% for emplacement in sponsor.emplacements.all %}
            {% if emplacement.support_id == support.id %}
                <li>
                    <div class="checkbox-container">
                                <input type="checkbox" name="emplacements" value="{{ emplacement.id }}" checked>
                                <label for="emplacement_{{ emplacement.id }}">{{ emplacement.support }} - Emplacement {{ emplacement.numero }} ({{ emplacement.prix }} €)</label>
                    </div>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    {% endfor %}
    {% endif %}

    <button type="submit">Enregistrer</button>
</form>
{% endblock %}